# Syntax
*.def linguist-detectable linguist-language=ini
*.cns linguist-detectable linguist-language=ini
*.const linguist-detectable linguist-language=ini
*.st linguist-detectable linguist-language=ini
*.air linguist-detectable linguist-language=ini
*.zss  linguist-detectable linguist-language=coffeescript